:root {
    --main-color: rgb(150,150,150,0.5);
    --color: black;
  }
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background:#aaa;;
}
.wrapper{
    /* font-size: 1.5em; */
    /* width: 75%; */
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.sticky{
    position: sticky;
    top: 0px;
    border: 1px solid var(--color);
    box-shadow: 1px 1px 1px;
    background: rgb(43, 42, 42);
    color: white;
    padding: 1em;
}
.sticky h1{
    margin: 0;
}
.head{
    display: flex;
    justify-content: space-evenly;
    margin:0 auto;
    align-items: center;
    margin-bottom: -1em;
    margin-bottom: 0.2em;
}
.head span{
    background: white;
    padding: 0 1em;
    border: 1px solid var(--color);
    box-shadow: 1px 1px 1px;
    color: black;
}
.recherche{
   text-align: center;
}
#choix{
    width: 15em;
    height: 15em;
}
.input{
    width: 80%;
    line-height: 3em;
    border: 1px solid var(--color);
    box-shadow: 1px 1px 1px;
}
.head span{
    /* padding: 1em; */
    /* font-size: 1.5em; */
}
.head_mess{
    display: flex;
    justify-content: space-evenly;
    background: rgb(150,150,150,0.5);
}
a{
  text-decoration: none; 
  color: var(--color); 
}
.crea_mess{
    position: sticky;
    background: rgb(150,150,150,0.5);
    margin: auto;
    top:7em;
    padding: 1em;
}
.container{
    /* width: 75%; */
    margin: auto;
    text-align: center;
    padding: 1em;
    background: #aaa;
    /* margin-top: -1em; */
}
ul{
    list-style: none;
    /* font-size: 2em; */
    padding: 0;
}
ul a{
}
ul a li{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}
h1,h2{
    text-align: center;
    margin: 0;
}
.list_message{
    /* display: flex; */
    justify-content: space-evenly;
}
.subMess{
   border: 1px solid var(--color);
   width: 100%;
   margin: auto;
   box-shadow: 10px 10px 10px var(--color);
   padding: 1em;
   /* margin-bottom: 1em; */
}
.message{
    border: 1px solid var(--color);
    background: var(--color);
    box-shadow: 1px 1px 1px;
    padding: 1em;
    box-shadow: 10px 10px 10px var(--color);
    margin-bottom: 2em;
    /* display: flex;
    justify-content: space-evenly; */
    /* font-size: 1.5em; */
}
.sub{
    background: white;
    margin: 1em;
}
.block_mess{
    display :flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bordure{
    background: white;
    border: 1px solid var(--color);
    padding: 1em;
    width: 40%;
    margin: 0.5em;
    margin: auto;
    overflow-x: scroll;
}
.bordure>div:nth-child(2){
    /* font-size: 2em; */
    padding: 1em;
}
.bordure>div:nth-child(2) p{
    margin: 0;
}

.content{
    font-size: 2em;
}

.list_emoji{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    position: fixed;
    background: var(--main-color);
    margin-left: 5em;
}
.hide{
    display: none;
}
.list_emoji div span{
    cursor: pointer;
}
.affich{
    border: 1px solid black;
    background: white;
    width: 50%;
    margin: auto;
}
@media screen and (max-width: 640px) {
    .bordure{
      width: 100%;
    }
    .form_flex{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 2em auto;
    }
    .form_flex input{
        margin-top: 1em;
        line-height: 2em;
    }
    .crea_mess > h2{
        font-size: 1em;
        top: 11em;
    }
    .crea_mess{
        top:11em;
    }
    .message{
        font-size: 1em;
        display: flex;
        flex-direction: column;
    }
    .affich{
        position: absolute;
        top:15em;
        z-index: 1;
        left: 6em;
    }
  }


