*{
    box-sizing: border-box;
}
.wrapper{
    /* width: 75%; */
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.sticky{
    position: sticky;
    top: 0px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px;
    background: #aaa;
    padding: 1em;
}
.sticky h1{
    margin: 0;
}
.head{
    display: flex;
    justify-content: space-evenly;
    margin:0 auto;
    align-items: center;
    margin-bottom: -1em;
    margin-bottom: 0.2em;
}
.head span:nth-child(odd){
    background: white;
    padding: 0 1em;
    border: 1px solid black;
    box-shadow: 1px 1px 1px;
}
.input{
    width: 80%;
    line-height: 3em;
}
.head span{
    /* padding: 1em; */
    font-size: 1.5em;
}
.head_mess{
    display: flex;
    justify-content: space-evenly;
}
a{
  text-decoration: none; 
  color: black; 
}
.crea_mess{
    position: sticky;
    background: rgb(150,150,150,0.5);
    margin: auto;
    top:7em;
    padding: 1em;
}
.container{
    /* width: 75%; */
    margin: auto;
    text-align: center;
    padding: 1em;
    background: ivory;
}
ul{
    list-style: none;
    font-size: 2em;
    padding: 0;
}
h1,h2,h3{
    text-align: center;
}
.list_message{
    /* display: flex; */
    justify-content: space-evenly;
}
.subMess{
   border: 1px solid black;
   width: 75%;
   margin: auto;
}
.message{
    border: 1px solid black;
    background: white;
    box-shadow: 1px 1px 1px;
    padding: 1em;
    margin: 0.5em;
}
.subMess{
    width: 75%;
    margin: 0.5em auto;
    padding: 1em;
    /* margin-bottom: 0.5em; */
}
